{% extends "base.html" %}

{% block content %}
<h2>About Me</h2>
<p>
    With a fervent passion for technology and a keen eye for design, 
    Adrien is a seasoned web developer dedicated to crafting 
    exceptional digital experiences. With over 5 years of hands-on 
    experience in the field, Adrien has established themselves as a 
    trusted expert in web development, adept at transforming ideas 
    into polished, functional websites and web applications.
</p>
<p>
    Proficient in HTML, CSS, JavaScript, and a variety of front-end 
    and back-end frameworks such as React, Angular, Vue.js, Node.js, 
    and Django, Adrien possesses a comprehensive skill set that 
    enables them to tackle projects of varying complexities with 
    confidence and precision. Their expertise extends beyond mere 
    code, encompassing a deep understanding of user experience 
    principles, responsive design techniques, and web performance 
    optimization strategies.
</p>
<p>
    In addition to their technical prowess, Adrien is a proactive 
    problem-solver and a natural communicator, able to translate 
    complex technical concepts into clear, accessible language for 
    clients and team members alike. They thrive in dynamic, 
    fast-paced environments, where they can leverage their 
    creativity and adaptability to overcome challenges and achieve 
    project objectives efficiently and effectively.
</p>
{% endblock %}