{% extends "base.html" %}

{% block content %}
<h2>Welcome</h2>
<section id="introduction">
    <p>
      Welcome to my corner of the web! I'm Adrien, a seasoned web developer 
      with a passion for crafting innovative digital experiences. With 5 
      years of experience in the field, I specialize in translating ideas 
      into beautifully designed, fully functional websites and web applications.
    </p>
    <p>
      My journey in web development began with a fascination for the endless 
      possibilities of the digital realm. Over the years, I've honed my skills 
      in a variety of programming languages and frameworks, including HTML, CSS, 
      JavaScript, React, and more. Whether it's creating responsive layouts, 
      implementing complex functionalities, or optimizing performance, I thrive 
      on turning concepts into reality through clean, efficient code.
    </p>
</section>
{% endblock %}