{% extends "base.html" %}

{% block content %}
<h2>My Work</h2>

<p>This is a static site showcasing my artwork and music.</p>
<p>It begins with an automatic slideshow of my paintings.</p>
<img src="../../static/portfolio-home.PNG">
<p>Then this section allows visitors to filter the paintings according
to different categories.</p>
<img src="../../static/portfolio-filter.PNG">
<p>The last section allows visitors to choose an original song to play.</p>
<img src="../../static/portfolio-songs.PNG">

{% endblock %}